@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;
@import "./reset.css";
input:focus {
  outline: none;
}

@layer base {
  .board-tr {
    @apply gap-[3px] sm:grid sm:grid-cols-[30px,1fr,280px] sm:gap-[50px] sm:px-5 lg:grid-cols-[30px,1fr,340px] lg:gap-20 lg:px-[50px];
  }

  .board-td-info {
    @apply flex gap-4 sm:grid sm:grid-cols-[45px,45px,90px] sm:gap-[50px] lg:gap-20;
  }
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/pretendard/PretendardGOV-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.rich-text-editor-content strong {
  font-weight: bold;
}

.rich-text-editor-content em {
  font-style: italic;
}

.rich-text-editor-content ol,
.rich-text-editor-content ul {
  padding-left: 1.5em;
  list-style-position: inside;
}

.rich-text-editor-content ol {
  list-style-type: decimal;
}

.rich-text-editor-content ul {
  list-style-type: disc;
}

.rich-text-editor-content li::marker {
  unicode-bidi: unset;
  font-variant-numeric: unset;
  text-transform: unset;
  text-indent: 0px !important;
  text-align: unset !important;
  text-align-last: unset !important;
}

.custom-bullet-list,
.custom-ordered-list {
  padding-left: 1.5em;
  list-style-position: inside;
}

.custom-bullet-list li,
.custom-ordered-list li {
  text-align: left; /* 기본 정렬 유지 */
}

.custom-bullet-list[style*="text-align: center"] > li,
.custom-ordered-list[style*="text-align: center"] > li {
  text-align: center;
}

.custom-bullet-list[style*="text-align: right"] > li,
.custom-ordered-list[style*="text-align: right"] > li {
  text-align: right;
}

.ProseMirror {
  background-color: transparent !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
    height: 27px;
  }
}

:root {
  --ck-clipboard-drop-target-color: green;
}

.ck-toolbar,
.ck-editor__editable {
  width: 100%;
  max-width: 100%;
}

.ck-editor__editable {
  height: 400px !important;
  max-height: 400px !important;
}

.ck-balloon-panel {
  display: none !important;
}

.ck-focused {
  border-color: var(--ck-color-base-border) !important;
}

.ck.ck-content ul,
.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content > :first-child {
  margin-top: 0;
}

.ck.ck-content h1 {
  display: block;
  font-size: 2.36em;
  line-height: 1.33em;
  &:first-of-type {
    width: 100%;
    padding-top: 0.5em;
  }
}

.ck.ck-content h2 {
  font-size: 1.68em;
  line-height: 1.68em;
  padding-top: 0.8em;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
  font-weight: 400;
  &:first-of-type {
    clear: both;
  }
}

.ck.ck-content h3 {
  font-size: 1.36em;
  line-height: 1.5em;
  padding-top: 0.8em;
  margin-bottom: 0.2em;
  font-weight: 400;
}

.ck.ck-content h4 {
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 0.6em;
  margin-bottom: 0.1em;
  font-weight: 400;
}

.ck.ck-content i {
  font-style: oblique 50deg;
}

.yu h1 {
  display: block;
  font-size: 2.36em;
  line-height: 1.33em;
  &:first-of-type {
    width: 100%;
    padding-top: 0.5em;
  }
}

.yu h2 {
  font-size: 1.68em;
  line-height: 1.68em;
  padding-top: 0.8em;
  margin-bottom: 0.4em;
  padding-bottom: 0.2em;
  font-weight: 400;
  &:first-of-type {
    clear: both;
  }
}

.yu h3 {
  font-size: 1.36em;
  line-height: 1.5em;
  padding-top: 0.8em;
  margin-bottom: 0.2em;
  font-weight: 400;
}

.yu h4 {
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 0.6em;
  margin-bottom: 0.1em;
  font-weight: 400;
}

.yu i {
  font-style: oblique 50deg;
}
